<!DOCTYPE html>
<html lang="en">




<body>
        @RenderBody()
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/cute-alert/cute-alert.js"></script>
    <link href="~/cute-alert/style.css" rel="stylesheet" />

</body>
</html>
