<!DOCTYPE html>
<html lang="en">

    <head>
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon.png">

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">

    <!-- Theme Settings Js -->
    <script src="~/assets/js/theme-script.js" type="29a72005606849a120b82f99-text/javascript"></script>

    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Main.css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="~/assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Owlcarousel CSS -->
    <link rel="stylesheet" href="~/assets/plugins/owlcarousel/owl.carousel.min.css">

    <!-- FancyBox CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fancybox/jquery.fancybox.min.css">

    <!-- Iconsax CSS -->
    <link rel="stylesheet" href="~/assets/css/iconsax.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    </head>


<body>
        @RenderBody()
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/cute-alert/cute-alert.js"></script>
    <link href="~/cute-alert/style.css" rel="stylesheet" />
    <!-- Jquery JS -->
    <script data-cfasync="false" src="~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.7.1.min.js" type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js" type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- Wow JS -->
    <script src="~/assets/js/wow.min.js" type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- MeanMenu Js -->
    <script src="~/assets/js/jquery.meanmenu.min.js" type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- Owlcarousel Js -->
    <script src="~/assets/plugins/owlcarousel/owl.carousel.min.js"
            type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"
            type="29a72005606849a120b82f99-text/javascript"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"
            type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- FancyBox JS -->
    <script src="~/assets/plugins/fancybox/jquery.fancybox.min.js"
            type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="~/assets/plugins/moment/moment.js" type="29a72005606849a120b82f99-text/javascript"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- cursor JS -->
    <script src="~/assets/js/cursor.js" type="29a72005606849a120b82f99-text/javascript"></script>

    <!-- Script JS -->
    <script src="~/assets/js/script.js" type="29a72005606849a120b82f99-text/javascript"></script>

    <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
            data-cf-settings="29a72005606849a120b82f99-|49" defer></script>

    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"90b71f355b8084b4","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.1.0","token":"3ca157e612a14eccbb30cf6db6691c29"}' crossorigin="anonymous"></script>
</body>
</html>
