@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<header>
    <div class="container">
        <div class="offcanvas-info">
            <div class="offcanvas-wrap">
                <div class="offcanvas-detail">
                    <div class="offcanvas-head">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a href="index.html" class="black-logo-responsive">
                                <img src="~/assets/515.jpg" alt="logo-img">
                            </a>
                            <a href="/" class="white-logo-responsive">
                                <img src="~/assets/515.jpg" alt="logo-img">
                            </a>
                            <div class="offcanvas-close">
                                <i class="ti ti-x"></i>
                            </div>
                        </div>
                        <div class="wishlist-info d-flex justify-content-between align-items-center">
                            <h6 class="fs-16 fw-medium">Wishlist</h6>
                            <div class="d-flex align-items-center">
                                <div class="fav-dropdown">
                                    <a href="wishlist.html" class="position-relative">
                                        <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <div class="mt-4">
                            <div class="header-dropdown d-flex flex-fill">
                                <div class="w-100">
                                    <div class="dropdown flag-dropdown mb-2">
                                        <a href="javascript:void(0);"
                                           class="dropdown-toggle bg-white border d-flex align-items-center"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="~/assets/img/flags/us-flag.svg" class="me-2" alt="flag">ENG
                                        </a>
                                        <ul class="dropdown-menu p-2">
                                            <li>
                                                <a class="dropdown-item rounded d-flex align-items-center"
                                                   href="javascript:void(0);">
                                                    <img src="~/assets/img/flags/us-flag.svg" class="me-2"
                                                         alt="flag">ENG
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded d-flex align-items-center"
                                                   href="javascript:void(0);">
                                                    <img src="~/assets/img/flags/arab-flag.svg" class="me-2"
                                                         alt="flag">ARA
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded d-flex align-items-center"
                                                   href="javascript:void(0);">
                                                    <img src="~/assets/img/flags/france-flag.svg" class="me-2"
                                                         alt="flag">FRE
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown">
                                        <a href="javascript:void(0);"
                                           class="dropdown-toggle bg-white border d-block"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            USD
                                        </a>
                                        <ul class="dropdown-menu p-2">
                                            <li>
                                                <a class="dropdown-item rounded"
                                                   href="javascript:void(0);">USD</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded"
                                                   href="javascript:void(0);">YEN</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded"
                                                   href="javascript:void(0);">EURO</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="javascript:void(0);" class="text-white btn btn-dark w-100 mb-3"
                                   data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a>
                            </div>
                            <a href="@Url.Action("RedirectToBecomeAnExpert", "Home")" class="btn btn-primary w-100">Trở thành chuyên gia</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-overlay"></div>
        <div class="header-nav">
            <div class="main-menu-wrapper">
                <div class="navbar-logo">
                    <a class="logo-white header-logo" href="/">
                        <img src="~/assets/515.jpg" class="logo" alt="Logo">
                    </a>
                    <a class="logo-dark header-logo" href="/">
                        <img src="~/assets/515.jpg" class="logo" alt="Logo">
                    </a>
                </div>
                <div class="header-btn d-flex align-items-center">
                    <div class="me-3">
                        <a href="javascript:void(0);" id="dark-mode-toggle" class="theme-toggle">
                            <i class="isax isax-moon"></i>
                        </a>
                        <a href="javascript:void(0);" id="light-mode-toggle" class="theme-toggle">
                            <i class="isax isax-sun-1"></i>
                        </a>
                    </div>


                    @if (SignInManager.IsSignedIn(User))
                    {
                        var tien = await UserManager.GetUserAsync(User);
                          <!-- Gọi async method để lấy thông tin người dùng -->

                        <div class="dropdown profile-dropdown">
                            <a href="javascript:void(0);" class="d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="avatar avatar-md">
                                    <img src="@tien.img" alt="Img" class="img-fluid rounded-circle border border-white border-4">
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end p-3" data-popper-placement="bottom-end">
                                <li><a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" href="/account">Dashboard</a></li>
                                <li><a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" href="/account/HotelsBooking">My Booking</a></li>
                                <li><a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" href="/account/Wishlist">My Wishlist</a></li>
                                <li><hr class="dropdown-divider my-2"></li>
                                <li><a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" href="/account/settings">Settings</a></li>
                                <li><a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2" href="/Home/Logout">Logout</a></li>
                            </ul>
                        </div>

                        @if (tien != null && !await UserManager.IsInRoleAsync(tien, "Seller") && !await UserManager.IsInRoleAsync(tien, "Admin"))
                        {
                            <a href="@Url.Action("RedirectToBecomeAnExpert", "Home")" class="btn btn-primary me-0">Trở thành chuyên gia</a>
                            <div class="header__hamburger d-xl-none my-auto">
                                <div class="sidebar-menu">
                                    <i class="isax isax-menu5"></i>
                                </div>
                            </div>
                        }
                        @if (tien != null && await UserManager.IsInRoleAsync(tien, "Seller") && !await UserManager.IsInRoleAsync(tien, "Admin"))
                        {
                            <a href="/manager" class="btn btn-primary me-0">Manager Page</a>
                            <div class="header__hamburger d-xl-none my-auto">
                                <div class="sidebar-menu">
                                    <i class="isax isax-menu5"></i>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div><a href="javascript:void(0);" class="btn btn-white me-3" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a></div>
                    }



                </div>
            </div>
        </div>
    </div>
</header>