@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var tien = await UserManager.GetUserAsync(User);
    <div class="card-header user-sidebar-header">
        <div class="profile-content rounded-pill">
            <div class="d-flex align-items-center justify-content-between">
                <div class=" d-flex align-items-center justify-content-center">
                    <img src="@tien.img" alt="image" class="img-fluid avatar avatar-lg rounded-circle me-1">
                    <div>
                        <h6 class="fs-16">@tien.UserName</h6>
                        <span class="fs-14 text-gray-6">@tien.joinin</span>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="/account/settings" class="p-1 rounded-circle btn btn-light d-flex align-items-center justify-content-center"><i class="isax isax-edit-2 fs-14"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
