@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">


<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon.png">

<!-- Favicon -->
<link rel="icon" href="~/assets/img/favicon.png" type="image/x-icon">
<link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">

<!-- Theme Settings Js -->
<script src="~/assets/js/theme-script.js" type="bed19bed291da95521e092de-text/javascript"></script>

<link rel="stylesheet" href="~/assets/css/animate.css">
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

<!-- Main.css -->
<link rel="stylesheet" href="~/assets/css/meanmenu.css">

<!-- Tabler Icon CSS -->
<link rel="stylesheet" href="~/assets/plugins/tabler-icons/tabler-icons.css">

<!-- Fontawesome Icon CSS -->
<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

<!-- Fancybox CSS -->
<link rel="stylesheet" href="~/assets/plugins/fancybox/jquery.fancybox.min.css">

<!-- Owlcarousel CSS -->
<link rel="stylesheet" href="~/assets/plugins/owlcarousel/owl.carousel.min.css">

<!-- Iconsax CSS -->
<link rel="stylesheet" href="~/assets/css/iconsax.css">

<!-- Datepicker CSS -->
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

<!-- Datatable CSS -->
<link rel="stylesheet" href="~/assets/css/dataTables.bootstrap5.min.css">

<!-- Daterangepikcer CSS -->
<link rel="stylesheet" href="~/assets/plugins/daterangepicker/daterangepicker.css">

<!-- Style CSS -->
<link rel="stylesheet" href="~/assets/css/style.css">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golocal - Travel and Tour Booking Bootstrap 5 template</title>

    <meta name="description" content="Golocal - A premium Bootstrap 5 template crafted for travel and tour booking. Tailored for travel agencies and booking platforms, it features flight, hotel, and tour reservations, and holiday packages.">
    <meta name="keywords" content="travel booking template, tour booking, Bootstrap 5 travel template, Golocal, hotel booking, flights booking, holiday packages, tour agency website, travel agency template, travel HTML template, booking system, responsive travel template, Bootstrap travel website">
    <meta name="author" content="Dreams Technologies">
    <meta name="robots" content="index, follow">

   

</head>

<body>

    <div class="main-header">
        <!-- Header Topbar-->
        <div class="header-topbar text-center bg-transparent">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <p class="d-flex align-items-center fw-medium fs-14 mb-2"><i class="isax isax-call5 me-2"></i>Hotline: +84 123456789</p>
                    <div class="d-flex align-items-center">
                        <p class="mb-2 me-3 d-flex align-items-center fw-medium fs-14">
                            <i class="isax isax-message-text-15 me-2"></i>Email : <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                                                     class="__cf_email__"
                                                                                     data-cfemail="0f666169604f6a776e627f636a216c6062">[email&#160;protected]</a>
                        </p>

                        <div class="fav-dropdown mb-2">
                            <a href="wishlist.html" class="position-relative">
                                <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header Topbar-->
        <!-- Header -->
        @await Html.PartialAsync("_patiarialHearder")
        <!-- /Header -->
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Thanh toán</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <div class="row">

                <!-- Sidebar -->
                <div class="col-xl-3 col-lg-4 theiaStickySidebar">
                    <div class="card user-sidebar mb-4 mb-lg-0">
                        @await Html.PartialAsync("_ptirialUser")
                        <div class="card-body user-sidebar-body">
                            <ul>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Chính</span>
                                </li>
                                <li>
                                    <a href="/account" class="d-flex align-items-center ">
                                        <i class="isax isax-grid-55"></i> Bảng điều khiển
                                    </a>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="d-block"><i class="isax isax-calendar-tick5"></i><span>My Bookings</span><span class="menu-arrow"></span></a>
                                    <ul>
                                        @* <li>
                         <a href="customer-flight-booking.html" class="fs-14 d-inline-flex align-items-center">Flights</a>
                         </li> *@
                                        <li>
                                            <a href="/account/HotelsBooking" class="fs-14 d-inline-flex align-items-center ">Khách sạn</a>
                                        </li>
                                        @*  <li>
                         <a href="customer-car-booking.html" class="fs-14 d-inline-flex align-items-center">Cars</a>
                         </li>
                         <li>
                         <a href="customer-cruise-booking.html" class="fs-14 d-inline-flex align-items-center">Cruise</a>
                         </li> *@
                                        <li>
                                            <a href="/account/tourBooking" class="fs-14 d-inline-flex align-items-center">Tour du lịch</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/account/review" class="d-flex align-items-center">
                                        <i class="isax isax-magic-star5"></i> Đánh giá
                                    </a>
                                </li>
                                @* <li>
                 <div class="message-content">
                 <a href="chat.html" class="d-flex align-items-center">
                 <i class="isax isax-message-square5"></i> Messages
                 </a>
                 <span class="msg-count rounded-circle">02</span>
                 </div>
                 </li> *@
                                <li class="mb-2">
                                    <a href="/account/Wishlist" class="d-flex align-items-center">
                                        <i class="isax isax-heart5"></i> Danh sách mong muốn
                                    </a>
                                </li>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Tài chính</span>
                                </li>
                                <li>
                                    <a href="/account/wallet" class="d-flex align-items-center ">
                                        <i class="isax isax-wallet-add-15"></i> Ví
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a href="/account/payment" class="d-flex align-items-center active">
                                        <i class="isax isax-money-recive5"></i> Thanh toán
                                    </a>
                                </li>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Tài khoản</span>
                                </li>
                                <li>
                                    <a href="/account/profile" class="d-flex align-items-center">
                                        <i class="isax isax-profile-tick5"></i> Hồ sơ
                                    </a>
                                </li>
                                @*    <li>
                 <div class="message-content">
                 <a href="notification.html" class="d-flex align-items-center">
                 <i class="isax isax-notification-bing5"></i> Notifications
                 </a>
                 <span class="msg-count bg-purple rounded-circle">05</span>
                 </div>
                 </li> *@
                                <li>
                                    <a href="/account/settings" class="d-flex align-items-center">
                                        <i class="isax isax-setting-25"></i> Cài đặt
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Logout" class="d-flex align-items-center pb-0">
                                        <i class="isax isax-logout-15"></i> Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Sidebar -->
                <!-- Payments -->
                <div class="col-xl-9 col-lg-8">
                    <div class="card hotel-list">
                        <div class="card-body p-0">
                            <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
                                <h6>Thanh toán</h6>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="input-icon-start  me-2 position-relative">
                                        <span class="icon-addon">
                                            <i class="isax isax-search-normal-1 fs-14"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <div class="dropdown me-3">
                                        <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                            Trạng thái
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end p-3">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Completed</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Pending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Cancelled</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="input-icon-end position-relative">
                                        <span class="input-icon-addon">
                                            <i class="isax isax-calendar-edit"></i>
                                        </span>
                                        <input type="text" class="form-control date-range bookingrange" placeholder="dd/mm/yyyy - dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Thanh toán</th>
                                            <th>Dịch vụ</th>
                                            <th>Loại thanh toán</th>
                                            <th>Ngày</th>
                                            <th>Số tiền</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="invoices.html" class="link-primary fw-medium">#PA-1245</a></td>
                                            <td class="text-gray-9 fw-medium">Hotel Atheena Plaza</td>
                                            <td>Hotel</td>
                                            <td>Card</td>
                                            <td>15 May 2025, 10:00 AM</td>
                                            <td>$11,569</td>
                                            <td>
                                                <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Completed</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="invoices.html" class="link-primary fw-medium">#PA-5769</a></td>
                                            <td class="text-gray-9 fw-medium">PlayPalooza Part</td>
                                            <td>Tour</td>
                                            <td>Stripe</td>
                                            <td>18 Jun 2025, 10:00 AM</td>
                                            <td>$12,297</td>
                                            <td>
                                                <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Completed</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="invoices.html" class="link-primary fw-medium">#PA-4742</a></td>
                                            <td class="text-gray-9 fw-medium">The Urban Retreat</td>
                                            <td>Hotel</td>
                                            <td>Card</td>
                                            <td>22 Jun 2025, 10:00 AM</td>
                                            <td>$18,349</td>
                                            <td>
                                                <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Completed</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="invoices.html" class="link-primary fw-medium">#PA-9364</a></td>
                                            <td class="text-gray-9 fw-medium">Foodie Fiesta</td>
                                            <td>Tour</td>
                                            <td>Stripe</td>
                                            <td>16 Jul 2025, 10:00 AM</td>
                                            <td>$17,875</td>
                                            <td>
                                                <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Completed</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="invoices.html" class="link-primary fw-medium">#PA-8207</a></td>
                                            <td class="text-gray-9 fw-medium">The Grand Horizon</td>
                                            <td>Hotel</td>
                                            <td>Card</td>
                                            <td>14 Jul 2025, 10:00 AM</td>
                                            <td>$12,766</td>
                                            <td>
                                                <span class="badge badge-danger rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Cancelled</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                        <div class="value d-flex align-items-center">
                            <span>Show</span>
                            <select class="">
                                <option>5</option>
                                <option selected>10</option>
                                <option>20</option>
                            </select>
                            <span>trong 40 kết quả</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="javascript:void(0);"><span class="me-3"><i class="isax isax-arrow-left-2"></i></span></a>
                            <nav aria-label="Page navigation">
                                <ul class="paginations d-flex justify-content-center align-items-center">
                                    <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                                    <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
                                    <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
                                    <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">4</a></li>
                                    <li class="page-item"><a class="page-link-1 d-flex justify-content-center align-items-center " href="javascript:void(0);">5</a></li>
                                </ul>
                            </nav>
                            <a href="javascript:void(0);"><span class="ms-3"><i class="isax isax-arrow-right-3"></i></span></a>
                        </div>
                    </div>
                </div>
                <!-- /Payments -->

            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Pages</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="team.html">Đội ngũ của chúng tôi</a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">Gói giá</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Settings</a>
                                </li>
                                <li>
                                    <a href="profile-settings.html">Cài đặt</a>
                                </li>
                                <li>
                                    <a href="my-profile.html">Hồ sơ</a>
                                </li>
                                <li>
                                    <a href="agent-listings.html">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Doanh nghiệp</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="about-us.html">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Cơ hội nghề nghiệp</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chương trình liên kết</a>
                                </li>
                                <li>
                                    <a href="add-flight.html">Thêm danh sách của bạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Đối tác của chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Điểm đến</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="javascript:void(0);">Hawai</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Istanbul</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">San Diego</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Belgium</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Newyork</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Hỗ trợ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="contact-us.html">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Thông báo pháp lý</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Chính sách quyền riêng tư</a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">Điều khoản và Điều kiện</a>
                                </li>
                                <li>
                                    <a href="chat.html">Hỗ trợ trò chuyện</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chính sách hoàn trả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Dịch vụ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="hotel-grid.html">Khách sạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Trình tìm kiếm hoạt động</a>
                                </li>
                                <li>
                                    <a href="flight-grid.html">Tìm kiếm chuyến bay</a>
                                </li>
                                <li>
                                    <a href="tour-grid.html">Thuê kỳ nghỉ</a>
                                </li>
                                <li>
                                    <a href="car-grid.html">Thuê xe</a>
                                </li>
                                <li>
                                    <a href="tour-details.html">Gói kỳ nghỉ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap bg-white">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-xl-3 col-xxl-3">
                            <div class="mb-3 text-center text-xl-start">
                                <a href="index.html" class="d-block footer-logo-light">
                                    <img src="~/assets/img/logo-dark.svg" alt="logo">
                                </a>
                                <a href="index.html" class="footer-logo-dark">
                                    <img src="~/assets/img/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-xxl-4">
                            <div class="d-flex align-items-center justify-content-center flex-wrap">
                                <h6 class="fs-14 fw-medium me-2 mb-2">Available on : </h6>
                                <a href="javascript:void(0);" class="d-block mb-3 me-2">
                                    <img src="~/assets/img/icons/googleplay.svg" alt="logo">
                                </a>
                                <a href="javascript:void(0);" class="d-block mb-3">
                                    <img src="~/assets/img/icons/appstore.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-5 col-xxl-5">
                            <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 pe-0 me-sm-3 pe-sm-3 border-end mb-3">
                                    <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                                        <i class="ti ti-headphones-filled fs-24"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Chăm sóc khách hàng</p>
                                        <p class="fw-medium text-dark">+84 393771017</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                    <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                                        <i class="ti ti-message fs-24 text-gray-9"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Gửi email cho chúng tôi</p>
                                        <p class="fw-medium text-dark">
                                            <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="fc95929a93bc99849d918c9099d29f9391">[email&#160;protected]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-img">
                    <img src="~/assets/img/bg/footer.svg" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="fs-14">
                                Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);"
                                                                               class="text-primary fw-medium">Golocal</a>
                            </p>
                            <div class="d-flex align-items-center">
                                <ul class="social-icon">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="card-links">
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-01.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-02.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-03.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-04.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-05.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-06.svg" alt="img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->
    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
    <!-- Jquery JS -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.7.1.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Wow JS -->
    <script src="~/assets/js/wow.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- MeanMenu Js -->
    <script src="~/assets/js/jquery.meanmenu.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Swiper Js -->
    <script src="~/assets/plugins/owlcarousel/owl.carousel.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Fancybox JS -->
    <script src="~/assets/plugins/fancybox/jquery.fancybox.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Counter JS -->
    <script src="~/assets/js/jquery.counterup.min.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/js/jquery.waypoints.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="~/assets/plugins/moment/moment.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Daterangepikcer JS -->
    <script src="~/assets/js/moment.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/plugins/daterangepicker/daterangepicker.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Datatable JS -->
    <script src="~/assets/js/jquery.dataTables.min.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/js/dataTables.bootstrap5.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- cursor JS -->
    <script src="~/assets/js/cursor.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Script JS -->
    <script src="~/assets/js/script.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="bed19bed291da95521e092de-|49" defer></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"90b71f355b8084b4","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.1.0","token":"3ca157e612a14eccbb30cf6db6691c29"}' crossorigin="anonymous"></script>

</body>

</html>